
# =========================
# Visual Studio / IDE
# =========================
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.VC.db
*.VC.opendb
*.aps
*.ncb
*.sdf
*.opensdf

# =========================
# Build Outputs (C++ / MSBuild)
# =========================
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.obj
*.idb
*.exp
*.tlog/
*.log
*.lastbuildstate

